<!-- From: file:/D:/Projects/simis/Testing3/Testing3/src/main/AndroidManifest.xml -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.hawhamburg.sea2.echarge"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">

        <!-- android:theme="@style/AppTheme" > -->
        <activity
            android:name="de.hawhamburg.sea2.echarge.SplashActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.hawhamburg.sea2.echarge.MainActivity"
            android:label="@string/title_activity_main"></activity>
        <activity
            android:name="de.hawhamburg.sea2.echarge.LoginActivity"
            android:label="@string/title_activity_login">

            <!--
            android:parentActivityName="com.simis.testing3.MainActivity"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
            -->
        </activity>
        <activity
            android:name="de.hawhamburg.sea2.echarge.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.hawhamburg.sea2.echarge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="de.hawhamburg.sea2.echarge.PasswordReset"
            android:label="@string/action_pass_reset"
            android:parentActivityName="de.hawhamburg.sea2.echarge.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="LoginActivity" />
        </activity>
        <activity
            android:name="de.hawhamburg.sea2.echarge.PasswordChange"
            android:label="@string/action_pass_change"
            android:parentActivityName="de.hawhamburg.sea2.echarge.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
    </application>

    <!-- Allow to connect with internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
